.category-post {
	background: asset-url('background-bb-image.jpg') 0 0 no-repeat;
	background-size: cover;
	padding: 50px;

	.description {
		background-color: #edeff2;
		text-align: left;
		border: 5px solid #c62917;
		margin-bottom: 30px;

		h1 {
			margin: 15px;
			font-family: sans-serif;
			color: #3b5998;
		}

		p {
			margin: 15px;
			font-family: sans-serif;
			color: #3b5998;
		}
	}

	.posts {

		.post {
			border: 5px solid #c62917;
			margin-bottom: 25px;
			background-color: #edeff2;
			height: 250px;

			h1 {
				margin: 15px;
				font-family: sans-serif;
				color: #3b5998;
				display: inline-block;
			}

			h1:hover {
				color: #c62917;
			}

			img {
				margin: 25px;
				height: 200px;
				width: 300px;
				float: right;
				border: 3px solid #3b5998;
			}

			p {
				width: 800px;
				margin: 15px;
				font-family: sans-serif;
			}
		}
	}
}