.top-introduction {
    background-color: #3b5998;
    min-height: 55px;

    img {
        height: 75px;
        display: inline-block;
        float: left;
    }

    h1 {
        display: inline-block;
        color: #fff;
        font-family: sans-serif;
        font-weight: 600;
        margin-left: 20px;
    }

    .dropdown-menu {
        padding: 15px;
        display: inline-block;
        float: right;
        font-size: 42px;
        a i {
            color: #bfbfbf;
        }
        a i:hover {
            color: #c62917;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 115px;
    background-color: #bfbfbf;
    overflow: auto;
    right: 15px;
    top: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px #888888;
    font-size: 15px;

    a {
        padding: 5px 15px;
        font-size: 15px;
        text-decoration: none;
        color: #c62917;
        font-family: sans-serif;
    }

    a:hover {
        color: #3b5998;
    }
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.show{display: block;}