.footer {
	background-color: #191919;
	height: 100px;

	img {
		padding: 7px;
		height: 75px;
		float: left;
	}

	h1 {
		color: white;
		margin: 0;
	}

	p {
		font-family: sans-serif;
		color: white;
		display: inline-block;
		padding: 20px;
		float: left;
	}

	p:hover {
		color: #c62917;
	}

	i {
		color: white;
		font-size: 24px;
		display: inline-block;
		float: right;
		padding: 51px 15px 15px;
	}
}