<div class="top-introduction">
	<a href="/"><img src="/assets/mlb-logo.jpg"></img></a>
	<h1>Average Joe's Fantasy Talk</h1>
	<div id="dropdown()" class="dropdown-menu">
		<a href="#" id="foo" style="text-decoration: none">
			<i class="fa fa-bars"></i>
		</a>
		<div class="dropdown-content">
			<a href="/">Home</a>
			<a href="/all-posts">Blog Posts</a>
			<a href="/about-us">About Us</a>
			<a href="/contact-us">Contact Us</a>
		</div>
	</div>
</div>