<div class="footer" style="text-align: center">
	<h1 style="text-align: left">Global Footer</h1>
	<p>Sitemap</p>
	<a href="/all-posts"><p>All Posts</p></a>
	<a href="/contact-us"><p>Contact Us</p></a>
	<a href="/about-us"><p>About Us</p></a>
	<p>Link to Twitter</p>
	<p>Scroll To Top</p>
</div>