<div class="top-introduction">
	<a href="/"><img src="/assets/mlb-logo.jpg"></img></a>
	<h1>Average Joe's Fantasy Talk</h1>
	<div class="icon">
		<a href="https://www.facebook.com" onclick="return false">
			<i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
		</a>
		<a href="https://www.twitter.com" onclick="return false">
			<i class="fa fa-twitter fa-lg" aria-hidden="true" style="color: #00aced"></i>
		</a>
	</div>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/all-posts">All Posts</a></li>
	  <li><a href="/weekly">Weekly Posts</a></li>
	  <li><a href="/prospects">Prospects!</a></li>
	  <li><a href="/hot-and-not">Who's Hot?</a></li>
	  <li><a href="/dynasty">Everything Dynasty</a></li>
	</ul>
</div>