<div class="top-introduction">
	<a href="/"><img src="/assets/mlb-logo.jpg"></img></a>
	<h1>Average Joe's Fantasy Talk</h1>
	<div id="dropdown()" class="dropdown-menu">
		<a href="#" id="foo" style="text-decoration: none">
			<i class="fa fa-bars"></i>
		</a>
		<div class="dropdown-content">
			<a href="/"><p>Home</p></a>
			<a href="/all-posts"><p>Blog Posts</p></a>
			<a href="/about-us"><p>About Us</p></a>
			<a href="/contact-us"><p>Contact Us</p></a>
		</div>
	</div>
</div>